<header>
  <a href="http://shilohhowland.com/"><img src="assets/images/shiloh.png" alt="Shiloh M. James Howland"/></a>
  <nav>
    <ul>
      <li><a data-scroll-nav="0" id="default" href="#home" class="active">Home</a></li>
      <li><a data-scroll-nav="1" id="teach" href="#teaching">Teaching</a></li>
      <li><a data-scroll-nav="2" id="educate" href="#education">Education</a></li>
      <li><a data-scroll-nav="3" id="publish" href="#publications">Publications</a></li>
    </ul>
  </nav>
</header>