@import "includes/meyer-reset";
@import "includes/fonts";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: Merriweather, "Minion Pro", "Hoefler Text", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  line-height: 2rem;
  color: #666666;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 4rem;
}

strong {
  font-weight: bold;
}

header {
  background: #000000;
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  
  img {
    float: left;
    margin: 10px 0 0 10px;
  }
  
  nav {
    vertical-align: middle;
    font-style: italic;
    list-style: none;
    min-height: 5rem;
    text-align: right;
    margin-left: 65px;
    
    ul {
      padding-top: 20px;
      padding-right: 20px;}

    li {
      display: inline;
      padding: 0 .5rem 0 0;
    }

    a {
      color: #FFFFFF;
      padding: 0 .25rem;
      margin: 0 -.25rem;
      text-decoration: none;
      padding-bottom: 1rem;

      &:hover {
        color: #C00C00;
        border-radius: 4px;
      }
    }

    .active {
      color: #C00C00;
    }
  }
}


section {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#home {
  padding-top: 4rem;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background: url("bg.jpg") no-repeat top left scroll;
  min-height: 40rem;
  h1 {
    border-bottom: 1px solid #FFFFFF;
    display: inline;
    line-height: 8rem;
    margin: 2rem 0 2rem 0;
  }
  p {
    margin: 0 auto;
    width: 90%;
    font-size: 1.3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    max-width: 50rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    text-transform: none;
  }
  a {
    color: #FFFFFF;
    font-size: 2rem;
  }
}

#teaching, #education, #publications {
  padding-top: 5rem;
  h1 {
    font-size: 4rem;
    font-family: Optima, "Gill Sans", Candara, Calibri, "Trebuchet MS", sans-serif;
    padding-bottom: 3rem;
  }
  p {
    margin: 1rem;
  }  
}

#teaching {
   background: url("bg2.jpg") repeat top left scroll;
   padding-top: 5rem;
   h3 {
    font-size: 2rem;
    line-height: 2.6rem;
    padding-bottom: 1rem;
   }
   li {
    i {
      font-size: 1.5rem;
      padding-right: 1rem;
      width: 2rem;
    }
   }
}

#education {
  background: url("bg3.jpg") repeat top left scroll;
  color: #999999;
  padding-top: 5rem;
  text-align: center;
  i {
    font-size: 5rem;
  }
  h3 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

#publications {
  text-align: center;
  background: url("bg2.jpg") repeat top left scroll;
  padding-top: 5rem;
  padding: 5rem 2rem;
}

footer {
  background: #000000;
  padding: 5rem;
  padding-bottom: 20rem;
}

.social li {
  list-style: none;
  display: inline;
  padding: 1rem;
}

.active {
  color: #C00C00;
}

// GRID SYSTEM

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$pad: 20px;

[class*='col-'] {
  float: left;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}
