@import "includes/font-awesome";
@import "includes/owl-carousel";
@import "includes/owl-carousel-theme";
@import "includes/one-tone-theme";
@import "includes/google-fonts";

.site{
  background:url({% asset_path bg.jpg %}) no-repeat top left fixed;
}

a,.site-logo a:hover,.site-navigation a:hover,.widget a:hover,.entry-title a:hover,.entry-meta a:hover,.loop-pagination a:hover,.page_navi a:hover,.site-footer a:hover,.home-navigation > ul > li.current > a > span,.home-navigation li a:hover,.home-navigation li.current a,.home-footer a:hover,#back-to-top,#back-to-top span{
  color:#963;
}

#back-to-top{
  border:1px solid #963;
}

mark,ins,.widget #wp-calendar #today{
  background:#963;
}

::selection,::-moz-selection{
  background:#963 !important;
}

body{
  margin:0px;
}