<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8"/>
  <meta name='robots' content='noindex,follow'/>
  <title>{{ page.title }}</title>
  {% stylesheet styles %}
  {% javascript javascript %}
</head>

<body>

  <header>
    <a href="http://shilohhowland.com/"><img src="{% asset_path shiloh.png %}" alt="Shiloh M. James Howland"/></a>
    <nav>
      <ul>
        <li><a id="home" href="#home">Home</a></li>
        <li><a id="teaching" href="#teaching">Teaching</a></li>
        <li><a id="education" href="#education">Education</a></li>
        <li><a id="publications" href="#publications">Publications</a></li>
      </ul>
    </nav>
  </header>
