<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8"/>
  <meta name='robots' content='noindex,follow'/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="assets/styles.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="assets/javascript.js"></script>
</head>

<body>

  {% include _nav.html %}
  
  <section data-scroll-index="0" id="home" name="home">
    {% if site.name %}
      <h1>{{ site.name }}</h1>
    {% endif %}
    {% if site.description %}
      <p>{{ site.description }}</p>
    {% endif %}
    {% if site.social %}
      <ul class="social">
        {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.name }}"></i></a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>

  {{ content }}

  {% include _footer.html %}

</body>
</html>
<script type="text/javascript">
$(function(){
  $.scrollIt();
});
</script>